//! init

@import 'materialize.scss';

// ! variables
$primary-color: #e88a1a;
$secondary-color: #d9d9d9;
$success-color: #cf3030;
$error-color: #141414;
html {
  // scroll-behavior: smooth !important;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: $secondary-color;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: $primary-color !important;
}
.mr {
  margin: 30px 0 !important;
}
.pd {
  padding: 30px 0 !important;
}
button {
  color: $secondary-color !important;
  background-color: $success-color !important;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin: auto auto !important;
}
// ! header
// * header
.darker {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
header {
  background-image: url(../img/design.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  position: relative;

  h1 {
    color: $secondary-color;
    margin-top: 100px !important;
  }
  h4 {
    color: $primary-color;
  }
  #started {
    margin-top: 150px !important;
    color: $secondary-color !important;
    background-color: $success-color !important;
    display: block !important;
    margin: 0 auto;
    border: 0;
    outline: 0;
    width: 170px;
  }
}

nav {
  background-color: transparent;
  border: 0;
  outline: 0;
  box-shadow: 0 !important;
  -webkit-box-shadow: 0 !important;
  // background-color: rgba(207, 48, 48, 0.5) !important;
  .brand-logo {
    &:hover {
      color: $primary-color;
    }
  }
}
// ? sidenav
.sidenav {
  .user-view {
    a {
      color: $primary-color !important;
      font-weight: bold;
    }
  }
}
#humb {
  position: relative !important;
  top: -43px !important;
  left: 23px !important;
}

.page-footer {
  background-color: $primary-color !important;
  h5,
  ul li {
    color: $error-color !important;
  }
  a {
    color: $error-color !important;
  }
  // !footer
  .footer {
    .footer-copyright div {
      color: $success-color;
      font-weight: bold;
    }
    ul {
      display: block;
      margin: 0 auto;
    }
    a {
      margin: 5px 0 !important;

      &:hover {
        border-bottom: 1px solid red;
      }
    }
  }
}

// ! main
.card-title {
  color: $secondary-color !important;
}

#work {
  background-image: url(../img/road.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  position: relative;

  h6,
  h2 {
    text-align: center !important;
    color: #fff;
  }
  .divider {
    display: block;
    margin: 0 auto;
  }
  .responsive-video {
    width: 100%;
  }
  .responsive-video {
    width: 100%;
    height: 400px;
    outline: 0;
    border: 0;
  }
  iframe {
    width: 100%;
  }
}

// ! modals
.modal {
  max-height: 86%;
  overflow-x: hidden;
  .modal-close {
    color: $success-color;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

// TODO SERVICE.HTML STRAT ************************************************************************/
.servicesNav {
  a {
    color: $error-color;
  }
  ul a {
    font-weight: normal;
  }
}

.servicesShowcase {
  a:first-of-type {
    width: 200px !important;
  }
  h1 {
    color: $error-color;
  }
  h4 {
    font-weight: bold;
  }
}

// !--- Fixed Video Background--*/
.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Black Opacity On Video */
}
.video-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1000;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

// !end video

#services-box {
  background-image: url(https://source.unsplash.com/random/1062x1062);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 1400px;
  width: 100%;
  position: relative;

  h6,
  h2 {
    text-align: center !important;
    color: #fff;
  }
  .divider {
    display: block;
    margin: 0 auto;
  }
}
.test {
  background-color: black !important;
  background-image: url('') !important;
}

// TODO SERVICE.HTML END ************************************************************************/
// ! scrollspy

// ! discover
#discover {
  display: block;
  margin: 0 auto;
  background-color: $error-color;
}
.tap-target {
  background-color: $success-color;
  color: #fff;
  h5,
  p {
    padding-left: 20px;
  }
}
